body {
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  color: #212121;
}
.nav-logo {
  color: #000000;
}
.logo {
  color: #2196f3;
}
.list {
  list-style: none;
}
/* основной цвет #212121 */
/* вторичный цвет #757575 */
/* акцент background: #2196F3; */
/* белый цвет #FFFFFF */
/* цвет футер rgba(255, 255, 255, 0.6); */

/* цвет основного фона #E5E5E5; */
/* вторичный цвет фона #2F303A */
/* цвет фона команды #F5F4FA */

/* site nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.contact-link {
  color: #757575;
}
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}
.hero-title {
  color: #ffffff;
}
.section-title {
  color: #212121;
}
.first-title {
  color: #e5e5e5;
}
